# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env
leads.json
.leads.json

# testing
node_modules\nbackend/node_modules\n.env\nbackend/.env\nbuild
